@page "/home"

<PageTitle>Index</PageTitle>
<BreadCrumb Descricao="Página inicial" Controle="home" Pagina="index"></BreadCrumb>

<h1>Hello, world!</h1>

Bem vindo ao projeto Blazor no Github pages, projeto desenvolvido para testar 

<SurveyPrompt Title="How is Blazor working for you?" />
